@media (max-width : 483px) {
    .inner {
        width: 270px !important;
    }
    .youtube-embed, .youtube-embed iframe {
        width: 270px !important;
        height: 155px;
    }

    h1 {
        font-size: 36px !important;
    }

    .container .menu-bar {
        height: 84px;
    }
    .container .menu-bar .menu-items {
        padding-top: 13px;
    }
    .container .menu-bar .menu-logo {
        padding-top: 4px;
    }
    .container .menu-bar .menu-logo img {
        height: 51px;
    }
    .menu-bar .inner {
        width: 320px !important;
    }
    .menu-bar .menu-items {
        padding-top: 16px;
    }
    .menu-bar .menu-items ul {
        width: 260px;
        flex-wrap: wrap;
        padding-left: 63px;
        justify-content: space-evenly;
    }
    .menu-bar .menu-items li {
        width: 70px;
        height: 30px;
    }
    .menu-bar .menu-items li a {
        font-size: 20px;
    }

    .social-links {
        margin-bottom: 0;
    }
    .social-links ul {
        width: 178px !important;
        flex-wrap: wrap;
    }
    .social-links li {
        width: 45px;
        margin-bottom: 19px;
    }

    .music .bandcamp-grid {
        width: 270px !important;
        flex-wrap: wrap;
    }
    .music .bandcamp-grid iframe {
        width: 270px !important;
    }

    .shows .songkick-embed {
        width: 270px !important;
        flex-wrap: wrap;
    }
    .shows .songkick-embed iframe {
        width: 270px !important;
    }

    .youtube-embed {
        width: 270px !important;
        flex-wrap: wrap;
    }
    .videos .youtube-embed iframe {
        width: 270px !important;
    }
    .videos .youtube-grid .youtube-embed {
        padding-bottom: 102px;
    }
    .about .slideshow {
        width: 270px !important;
    }
    .about .slideshow img {
        width: 270px !important;
    }
    .about .quoteshow {
        order: -1;
        margin-bottom: 50px;
    }
    .about.section .quoteshow .quote {
        margin: 0 auto;
        width: 137px;
        height: auto;
    }
    .about.section .quote .border {
        width: 108px;
    }
    .about.section .quoteshow .text {
        font-size: 14px;
    }
    .about.section .quoteshow .source {
        font-size: 12px;
    }
    .about.section .quoteshow .quote-inner {
        padding: 10px 0;
    }
    .about .inner-flex > * {
        width: 270px !important;
    }
    .about.section .bio p {
        width: auto;
    }
}

body, ul, h1 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
h1 {
    padding-bottom: 42px;
    text-align: center;
    font-size: 44px;
}
li {
    list-style: none;
}
body {
    background: #DDDAF1;
}
a {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
a:hover {
    color: white;
    font-style: underline;
}
.menu-bar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #F0B6B5;
    border-bottom: 2px solid #000000;
}
.inner {
    width: 812px;
    margin: 0 auto;
}
.section.about .inner-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.section {
    padding: 100px 0 54px 0;
}

/* START Menubar */
.menu-bar ul, .menu-bar li {
    display: inline-block;
    font-weight: bold;
}
.menu-bar ul {
    flex-grow: 1;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-bar li a {
    text-decoration: none;
    font-style: oblique;
    color: #000;
    font-size: 24px;
}
.menu-bar li a:hover {
    color: white;
    font-style: underline;
}
.menu-bar {
    height: 98px;
}
.menu-bar .inner {
    width: 910px;
    display: flex;
}
.menu-bar .menu-logo {
    display: block;
    position: absolute;
    margin: 12px;
}
.menu-bar .menu-items {
    width: 545px;
    margin: 0 auto;
    padding-top: 30px;
}
.menu-bar .menu-logo img {
    height: 68px;
}
/* END Menubar */

/* START Main */
.section.main {
    width: 100%;
    background: #F0B6B5;
    padding-top: 54px;
}
.main h1 {
    font-size: 55px;
    padding-bottom: 0;
}
.social-links {
    margin-top: 23px;
    margin-bottom: 50px;
}
.social-links ul {
    width: 393px;
    margin: 0 auto;
}
.social-links ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.social-links img {
    height: 44px;
}
.youtube-embed {
    width: 812px;
    margin: 0 auto;
}
.Main .title {
    padding-bottom: 42px;
}
/* END Main */

/* START Music */
.section.music {
    width: 100%;
    background: #F6E5C9;
}
.bandcamp-grid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 812px;
    margin: 0 auto;
}
.bandcamp-embed {
    display: flex;
    flex-direction: column;
}
.bandcamp-embed iframe {
    margin-bottom: 28px;
}
.bandcamp-embed .too-much-info {
    width: 350px;
    height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bandcamp-embed .too-much-info .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}
.bandcamp-embed .too-much-info .too-much-info-inner {
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 65px;
}
.bandcamp-embed .too-much-info .heading {
    font-weight: bold;
    font-size: 24px;
}
.bandcamp-embed .title {
    margin-bottom: 37px;
}
/* END Music */

/* START shows */
.section.shows {
    width: 100%;
    background: #DDE7DC;
}
.songkick-embed {
    width: 812px;
    height: 500px;
    margin: 0 auto;
    overflow: scroll;
}
.songkick-embed iframe {
    height: 812px;
    width: 812px;
    border: none;
    overflow: scroll !important;
}
/* END shows */

.section.videos {
    width: 100%;
    background: #CFE0EF;
}
.youtube-grid .title {
    padding-bottom: 42px;
}
.youtube-grid .youtube-embed {
    padding-bottom: 72px;
}

/* START about */
.section.about {
    width: 100%;
    background: #DDDAF1;
}
.about .slideshow img {
    width: 514px;
}
.about .slideshow {
    width: 514px;
    margin-bottom: 50px;
}
.about .quoteshow {
    width: 270px;
    display: flex;
}
.about .quoteshow .quote {
    margin: 0 0 0 auto;
    height: 422px;
    width: 241px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
.about .quote .border {
    width: 212px;
    border: 1px solid #BDBDBD;
    margin: 0 auto;
}
.about .quoteshow .text {
    font-size: 24px;
    margin-bottom: 17px;
    font-weight: bold;
    text-align: center;
}
.about .quoteshow .source {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-style: initial;
}
.about .bio {
    width: 514px;
}
.about .bio p {
    font-style: normal;
    font-size: 18px;
    width: 410px;
}
.about .contact-press {
    margin-top: 42px;
    width: 270px;
}
.about .contact-press .contact {
    margin-bottom: 30px;
}
.about .press li {
    margin: 5px 0;
}
.about .contact-press .title,
.about .bio .title {
    text-align: left;
    margin-bottom: 10px;
}
.about .social-links {
    margin-top: 86px;
}
/* END about */
